<html lang="en" ng-app="game-app">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Angular -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<!--controllers-->
<script src="js/controllers.js"></script>
<script src="js/directives.js"></script>
<!-- End Angular -->
<!-- Fast Click -->
<script type='application/javascript' src='/bower_components/fastclick/lib/fastclick.js'></script>
<!-- End Fast Click -->

<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />

<script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Parse -->
<script src="https://www.parsecdn.com/js/parse-1.6.7.min.js"></script>
<!-- End Parse -->

<!-- PubNub -->
<script src="https://cdn.pubnub.com/pubnub-3.14.5.js"></script>
<!-- End PubNub -->

</head>

<body data-ng-controller="GameCenter">
	<div ng-show="joinScreenShown()">
		<div class="container-fluid text-center">
			<h2>Join the game by entering the game code below.</h2>
			<form class="form-horizontal">
			  <div class="form-group">
			    <label for="inputGamecode" class="col-sm-2 control-label">Game Code</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="inputGamecode" ng-model="gameIdInput" placeholder="Game Code">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputName" class="col-sm-2 control-label">Name</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="inputName" ng-model="nameInput" placeholder="Name">
			    </div>
			  </div>
			  <div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
			      <button type="submit" class="btn btn-primary btn-large" ng-click="joinGame()" ng-disabled="joiningGame()">Join</button>
			    </div>
			  </div>
			</form>
		</div>
	</div>
	<div class="container-fluid text-center">
		<div ng-show="findingSeat()">
			<h2>Finding a seat...</h2>
		</div>
		<div ng-show="waitingForSeat()">
			<h2>The game is full right now, you will be connected when a seat is available.</h2>
		</div>
		<div ng-show="inGame()">
			<h2>Waiting for dealer...</h2>
			<h4>Chips: {{chips}}<h4>
		</div>
		<div ng-show="inHand()">
			<div class="row">
				<div class="col-xs-6">
					<img class="col-md-5 img-responsive" src="assets/cards/back.png">
				</div>
				<div class="col-xs-6">
					<img class="col-md-5 img-responsive pull-right" src="assets/cards/back.png">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1">
					<button type="button" style="margin-top:10px" class="btn btn-primary btn-lg btn-block">Show Cards</button>
					<button type="button" class="btn btn-default btn-lg btn-block">Block level button</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>