<html lang="en" ng-app="game-app">
<head>


<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Angular -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<!--controllers-->
<script src="js/controllers.js"></script>
<script src="js/directives.js"></script>
<!-- End Angular -->
<!-- Fast Click -->
<script type='application/javascript' src='/bower_components/fastclick/lib/fastclick.js'></script>
<!-- End Fast Click -->

<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />

<script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Parse -->
<script src="https://www.parsecdn.com/js/parse-1.6.7.min.js"></script>
<!-- End Parse -->

<!-- Pusher -->
<script src="//js.pusher.com/3.0/pusher.min.js"></script>
<!-- End Pusher -->

</head>

<body data-ng-controller="GameCenter">
	<div ng-show="gameJoinScreenShown">
		<h3>Join the game by entering the game code below.</h3>
		<input type="text" ng-model="gameIdInput" placeholder="Game code">
		<input type="text" ng-model="nameInput" placeholder="Name">
		<button ng-click="joinGame()" ng-disabled="joiningGame">Join</button>
	</div>
	<div ng-show="playerWaitScreenShown">
		<h3 ng-show="numPlayers <= 2">Waiting for more players.</h3>
		<h3 ng-hide="numPlayers <= 2">Waiting for more players.  Press Start Game when everyone has joined.</h3>
		<button ng-click="startGame()" ng-disabled="numPlayers <= 2">Start Game</button>
		<gamepad></gamepad>
	</div>
</body>
</html>